@using J_uan.ViewModels.Sliders
@model SliderViewModel
@{
    ViewData["Title"] = "Create";
}


<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Create Slide</h6>
        <form class="form-floating" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Upload an image for product</label>
                <input class="form-control" type="file" asp-for="Photo" multiple="">
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Title"
                       placeholder="Title">
                <label asp-for="Title">Title</label>
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Subtitle"
                       asp-for="Subtitle">
                <label asp-for="Title">Subtitle</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="product description"
                          asp-for="Description" style="height: 150px;"></textarea>
                <label asp-for="Description">Description</label>
            </div>
            <button type="submit" class="btn btn-success m-2">Create</button>
            <a class="btn btn-light m-2" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>